<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head'); %>
  <body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>

    <main>
      <div class="jumbotron">
        <h1>Sobre Mim</h1>
        <p>
          Oi Eu sou o Rodrigo Brandão e estou aprendendo a trabalhar com EJS
        </p>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
